# Ignore editors
.Idea
.DS_Store

# Angular Cruft
src/app/.browserslistrc
src/app/.editorconfig
src/app/README.md
src/app/e2e/

node_modules
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
